
@{
    ViewBag.Title = "About";
}

<h2>CV</h2>
<div class="row">
    <div class="col-md-9">

        <section id="arbete">
            <h2>Arbetslivserfarenhet</h2>
            <hr />
            <article>
                <em class="flytt">Januari 2017 - December 2017</em>
                <h4>ProjektLedare/Fritidsledare, Junis IOGT-NTOs Juniorförbund</h4>
                <p class="flytt">Västra Götalands län</p>
                <p>Beskrivning: Projktanställning där uppdraget var att sätta upp, 
                marknadsföra och hålla lektioner i programmering och spelskapande för 
                barn i åldrarna åtta till tretton</p>
            </article>
            <br />
            <article>
                <em class="flytt">November 2016 - December 2016</em>
                <h4>Entrévärd, Tjolöholms slott</h4>
                <p class="flytt">Fjärås</p>
                <p>Beskrivning: Säsongsanställning för julmarknad där jobbet innebar 
                att stå i kassa, agera trafikvakt och områdesvakt. I detta hanterande 
                av frågor och påtryckningar från försäljare som ville få tidig tillgång 
                till området.</p>
            </article>
            <br />
            <article>
                <em class="flytt">Oktober 2016 - November 2016</em>
                <h4>Aktör, Liseberg</h4>
                <p class="flytt">Göteborg</p>
                <p>Beskrivning: Säsongsanställning för halloween där jobbet innebar att 
                agera för att skrämma besökare och för att leda dem rätt. Det innebar 
                ibland att hantera besökare med sitt eget ansikte så att de visste vad 
                som väntades av dem för alla involverades säkerhet.</p>
            </article>
            <br />
            <article>
                <em class="flytt">Augusti 2016</em>
                <h4>Entrévärd, Kapitelhusgården</h4>
                <p class="flytt">Visby</p>
                <p>Beskrivning: Timanställning under Medeltidsveckan. Jobbet innebar att 
                stå i dörren och se till att de som släpptes in inte hade med sig vätskor, 
                mat eller andra otillåtna föremål. Omhändertagandet av personliga föremål 
                som inte fick innehas inom området och att eskortera folk ut ifrån området 
                om så krävdes.</p>
            </article>
        </section>

        <section id="utbildning">
            <h2>Utbildning</h2>
            <hr />
            <article>
                <em class="flytt">2016</em>
                <h4>Kandidatarbete: Dagis++, En brygga mellan konkret och abstrakt matematik genom spel</h4>
                <p class="flytt">Blekinge Tekniska Högskola</p>
                <p>Beskrivning: Ett kandidatarbete som fokuserar på att undersöka med teori 
                och praktik om digitala spel kan användas på ett effektivt sätt för att förenkla 
                övergången mellan räknande på fingrar till förståelsen att abstrakta siffror 
                representerar konkreta antal för barn i förskoleålder.</p>
            </article>
            <br />
            <article>
                <em class="flytt">2013 - 2016</em>
                <h4>Digitala Spel</h4>
                <p class="flytt">Blekinge Tekniska Högskola</p>
                <p>Beskrivning: En utbildning där jag fick lära mig lite inom alla discipliner 
                om behövs inom spelindustrin med mitt fokus på speldesign och programmering.</p>
            </article>
            <br />
            <article>
                <em class="flytt">2008 - 2011</em>
                <h4>Gymnasie, Samhällsvetenskapliga programmet</h4>
                <p class="flytt">Söderportgymnasiet, Kristianstad</p>
            </article>
        </section>

        <section id="kurser">
            <h2>Kurser</h2>
            <hr />
            <article>
                <em  class="flytt">2017</em>
                <h4>Junis ledaretik</h4>
                <p  class="flytt">Junis IOGT-NTOs Juniorförbund</p>
                <p>Beskrivning: En utbildning med på fokus hur bra, underhållande och lärorika 
                veckovisa träffar för barn sätts ihop. Med Junis filosofi om gemenskap, lärande, 
                säkerhet och nykterhet i grunden.</p>
            </article>
        </section>

        <section id="data">
            <h2>Datorkunskaper</h2>
            <hr />
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Autodesk Maya</td>
                        <td>Blender</td>
                        <td>3ds Max</td>
                        <td>Unity 3d</td>
                    </tr>
                    <tr>
                        <td>Game Maker</td>
                        <td>Photoshop</td>
                        <td>Krita</td>
                        <td>Visual Studio</td>
                    </tr>
                    <tr>
                        <td>GitHub</td>
                        <td>Micosoft Word</td>
                        <td>Micosoft Powerpoint</td>
                        <td>Micosoft Excel</td>
                    </tr>
                    <tr>
                        <td>Scribus</td>
                        <td>InDesign</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section id="språk">
            <h2>Språkkunskaper</h2>
            <hr />
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Svenska</td>
                        <td>Modersmål</td>
                    </tr>
                    <tr>
                        <td>Engelska</td>
                        <td>Flytande</td>
                    </tr>
                    <tr>
                        <td>Franska</td>
                        <td>Grundläggande förståelse</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section id="ideelt">
            <h2>Ideelt arbete</h2>
            <hr />
            <article>
                <em  class="flytt">När</em>
                <h4>Titel, Förening</h4>
                <p  class="flytt">Var</p>
                <p>Beskrivning, blalalalalalalalalalalalalalalalalalalalalalalalalalala</p>
            </article>
            <br />
            <article>
                <em  class="flytt">När</em>
                <h4>Titel, Förening</h4>
                <p  class="flytt">Var</p>
                <p>Beskrivning, blalalalalalalalalalalalalalalalalalalalalalalalalalala</p>
            </article>
        </section>

        <section id="uppdrag">
            <h2>Förtroendeuppdrag och Utnämningar</h2>
            <hr />
            <article>
                <em  class="flytt">När</em>
                <h4>Förtroendeuppdrag/Utnämning Utfärdare</h4>
                <p>Beskrivning, blalalalalalalalalalalalalalalalalalalalalalalalalalala</p>
            </article>
            <br />
            <article>
                <em  class="flytt">När</em>
                <h4>Förtroendeuppdrag/Utnämning Utfärdare</h4>
                <p>Beskrivning, blalalalalalalalalalalalalalalalalalalalalalalalalalala</p>
            </article>
            <br />
            <article>
                <em  class="flytt">När</em>
                <h4>Förtroendeuppdrag/Utnämning Utfärdare</h4>
                <p>Beskrivning, blalalalalalalalalalalalalalalalalalalalalalalalalalala</p>
            </article>
        </section>
    </div>
</div>

