
@{
    ViewBag.Title = "Contact";
}

<h2>Contact information</h2>

<div class="row">
    <div class="col-md-4">
        <h3>Linus Elofsson</h3>
        <ul class="list-unstyled">
            <li><strong>Linkedin: </strong>Linkedin.com/in/Linus-Elofsson-470aa6128</li>
            <li><strong>Email: </strong>rioneda1@gmail.com</li>
            <li><strong>Tel: </strong> 0738 20 09 15</li>
        </ul>
    </div>
</div>

