
@{
    ViewBag.Title = "FeverCheck";
}

<h2>FeverCheck</h2>

<p>Test test</p>

<p>Do I have a fever?</p>

Enter your temperature:
@using(Html.BeginForm())
{
    
    <input type="radio" name="scale" value="celsius">@:Celsius
    <input type="radio" name="scale" value="fahrenheit">@:Fahrenheit<br>
    

   <input type="number" name="temperature" />
   <input type="submit" />
}


<h4>@ViewBag.haveFever</h4>

