@model IEnumerable<MVC_Site_2.Models.Movie>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Can you find the stuff?</p>

@foreach (var item in Model)
{
    <div>
        <h3>Titel: @item.Name</h3>
        <div>Release Year: @item.ReleaseYear</div>
        <div>Price: @item.Price:-</div>
        <div>Rating: @item.Rating</div>
        <hr />
    </div>
}