
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<hr />
<h4>Sokoban</h4>
<a href="~/Done Projects/JavaScript-Stuff/index2.html">Sokoban by Kaffe</a>

<hr />
<h4>Html & CSS</h4>
<a href="~/Done Projects/HTML-Assignment/home.html">Html and CSS Assignment </a>

<hr />
<h4>Bootstrap</h4>
<a href="~/Done Projects/Bootstrap-Site/Index.html">Bootstrap </a>