
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<h3>Console Applications</h3>
<hr />
<ul>
    <li>Calculator <a href="https://github.com/Aivuo/Kalk">GitHub</a></li>
    <li>Arena-Fighter <a href="https://github.com/Aivuo/Arena-FIghter">GitHub</a></li>
    <li>Golf <a href="https://github.com/Aivuo/Golf">GitHub</a></li>
    <li>Vending Machine <a href="https://github.com/Aivuo/VendingMachine">GitHub</a></li>
</ul>

<h3>Web pages</h3>
<hr />
<h4>Html & CSS</h4>
<a href="~/Done Projects/HTML-Assignment/home.html">Html and CSS Assignment </a>

<h4>Bootstrap</h4>
<a href="~/Done Projects/Bootstrap-Site/Index.html">Bootstrap </a>

<h4>Sokoban</h4>
<a href="~/Done Projects/JavaScript-Stuff/index2.html">Sokoban by Kaffe</a>