@model IEnumerable<MVC_Site_2.Models.Person>
        

<h2>Got Here</h2>
@*@Ajax.BeginForm("Edit", new AjaxOptions
        {
            HttpMethod = "post",
            
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = Convert.ToString(Model.Id)
        })
        {
            <div class="form-group">
                <label for="n">Name:</label>
                <input type="text" name="nameIn" value="" id="n" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="pN">Phone Number</label>
                <input type="text" name="phoneNumberIn" value="" id="pN" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="c">City</label>
                <input type="text" name="cityIn" value="" id="c" class="form-control"/>
            </div>
            <input type="submit" value="Create new player" class="btn btn-default"/>    
        }*@